/* .repo__technology_fork::before {
    width: 11px;
    height: 16px;
    background: url(../img/fork.svg);
}*/

#pagDiv {
  display: flex;
  padding-top: 50px;
  /* margin-bottom: 60px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.repos-pagination,
.repos-pagination__link {
  color: var(--color-1);
  transition: all 0.3s;
}

.repos-pagination__link:hover {
  color: var(--color-5);
}

.repos-pagination__link,
.repos-pagination__dots {
  padding-right: 0.8rem;
}
#inc {
  cursor: pointer;
}
#dec {
  cursor: pointer;
}
.right {
  transform: rotate(180deg);
  border-radius: 5px;
}
#arrow-left {
  cursor: pointer;
  border-radius: 5px;
}
.active-page {
  display: block;
  padding-top: 10px;
  padding-left: 12px;
  margin-right: 16px;

  width: 40px;
  height: 40px;
  background: url('../../images/icons/active-page.jpg');
  border-radius: 5px;
  color: white;
}
#first {
  margin-left: 16px;
}
.btnRight {
  width: 40px;
  height: 40px;
  background-image: url(../../images/icons/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  border: none;
  margin-right: 16px;
}
