<div id="one">
    <a href="#" class="repos-pagination__link" id="first">{{page}}</a>
        <object id="inc">
            <img id="arrow-right" src="./images/icons/arrow-right.svg">
        </object>
</div>