.img-movie-card {
  width: 280px;
  height: 416px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;

  margin-bottom: 20px;
}

.list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: #8c8c8c;
}

.list-item:not(:last-child) {
  margin-bottom: 10px;
}

.item-vote {
  margin-left: 41px;

  display: inline-block;
  width: 36px;
  height: 16px;
  background: #ff6b01;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.item-votes {
  display: inline-block;
  width: 36px;
  height: 16px;
  background: #f7f7f7;
  text-align: center;
  border-radius: 5px;

  color: #000000;
}
.item-popularity {
  margin-left: 53px;
  color: #000000;
}
.item-original-title {
  margin-left: 39px;
  color: #000000;
}
.item-genre {
  margin-left: 76px;
  color: #000000;
}

.about {
  margin-top: 20px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.js-clicked {
  background-color: green;
}
