.page-header {
  height: 230px;
  padding-top: 46px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../../images/header-mobile.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-header.lib-bcg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../../images/lib-bcg-mobile.jpg');
}

.page-header.modal-bcg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../../images/modal-mobile.jpg');
}

.logo-text {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  color: #ffffff;
}

.site-nav-link {
  display: flex;
  gap: 25px;
  align-items: flex-end;
}

.site-nav-link a {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: inherit;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  width: 102%;
  height: 3px;
  left: 0;
  bottom: -2px;

  background: #ff6b08;
  border-radius: 2px;
}

.theme-switch__control {
  display: flex;
  align-items: center;
  position: relative;
  width: 21px;
  height: 15px;
}

.theme-switch__track {
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url('../../images/icons/gb.svg');
  background-repeat: no-repeat;
  background-size: content;

  cursor: pointer;
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-image: url('../../images/icons/ru.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  transform: translateX(20px);
}

.search-form {
  position: relative;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}

.search-form.is-hidden {
  display: none;
}

.search-form-input {
  display: block;
  width: 100%;
  max-width: 336px;
  height: 20px;
  margin: 0 auto;
  margin-top: 38px;

  margin-bottom: 22px;
  padding: 10px;
  outline: none;
  font-size: inherit;
  line-height: inherit;
  color: #ffffff;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
}

.search-form-input::placeholder {
  color: rgb(255, 255, 255);
  background-image: url(../../images/icons/input-search.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}

.search-form-input-error {
  color: #ff001b;
}

.header-button {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 46px;
}

.button.is-hidden {
  display: none;
}

@media (min-width: 768px) {
  .logo-text {
    display: inline-block;
    opacity: 1;
    margin-left: 12px;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
  }

  .page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/header-tablet.jpg');
  }
  .page-header.lib-bcg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/lib-bcg-tablet.jpg');
  }

  .page-header.modal-bcg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/modal-tablet.jpg');
  }

  .site-nav-link {
    gap: 39px;
  }
}

@media (min-width: 1024px) {
  .page-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/header-pc.jpg');
  }
  .page-header.lib-bcg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/lib-bcg-pc.jpg');
  }
  .page-header.modal-bcg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../../images/modal-pc.jpg');
  }
}
