.footer {
  background-color: #e9e0e0;
  text-align: center;
  padding: 28px 0 30px 0;
  height: 100px;
}

.footer a {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.footer-description {
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.footer-description__icon {
  margin-left: 3px;
  margin-right: 3px;
}

@media (max-width: 767px) {
  .modalWindow-item {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .footer {
    height: 77px;
    padding: 31px 0 34px 0;
  }

  .modalWindow-item {
    width: 25%;
  }
}

.main-cont {
  position: relative;
}

.overlay {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(182, 160, 160, 0.562);
  z-index: 2;
}

.modal {
  font-family: 'Noto Sans JP', sans-serif;
  position: fixed;

  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  height: 90%;
  background-color: #fff;
  z-index: 1;
  overflow-y: scroll;
  padding-bottom: 30px;
  animation: our-team 0.7s linear;
}

@keyframes our-team {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalWindow-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.modalWindow-item {
  text-align: center;
  height: 300px;
}

.our-team__name {
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  color: #12a837;
}

.our-team__picture {
  margin-bottom: 30px;
  border-radius: 50%;
}

.teammates-name {
  margin-bottom: 30px;
}

.our-team__position {
  font-weight: 500;
  margin-bottom: 30px;
}

.button-footer {
  display: block;
  margin: 0 auto;
}
