.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 28px 0 30px 0;
  height: 100px;
}

.footer-description {
  font-size: 16px;
  line-height: 19px;
  color: #545454;
}

.footer-description__icon {
  margin-left: 3px;
  margin-right: 3px;
}

@media (min-width: 768px) {
  .footer {
    height: 77px;
    padding: 31px 0 34px 0;
  }

  .modalWindow-item {
    width: 25%;
  }
}

.main-cont {
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(172, 161, 161, 0.507);
  z-index: 2;
}

.modal {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  position: fixed;

  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  height: 90%;
  background-color: #fff;
  z-index: 1;
  /* animation: ourteam 0.7s linear; */
}

/* @keyframes ourteam {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
} */

.modalWindow-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  list-style: none;
  /* text-align: center; */
}

.modalWindow-item {
  text-align: center;
  margin-bottom: 30px;
  width: 48%;
  height: 300px;
  /* box-shadow: -10px 10px 20px rgba(224, 65, 65, 0.5); */
}

.our-team__name {
  font-size: 32px;
  padding: 30px 0;
  text-align: center;
  color: #ff6b01;
}

.our-team__picture {
  margin-bottom: 30px;
  border-radius: 50%;
}

.teammates-name {
  margin-bottom: 30px;
}

.our-team__position {
  font-weight: 500;
  margin-bottom: 30px;
}

.button-footer {
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .modalWindow-item {
    width: 25%;
  }
}
